@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
h5{
    font-weight: bold;
}
.caract{
    font-weight:500;
}
.bi-cart{
    font-size: 20px;
    margin-right: 3px;
}

/* Footer */
.fondo{
    background-color: rgb(82, 82, 82);
    margin-top: 35px;
    padding-block: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "logo pages contact social"
    "logo pages contact social"
    "copy pages contact social";
    justify-content: center;
    color: white;
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 10px;
}
.copy{
    grid-area: copy;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.paginas{
    grid-area: pages;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links_:hover{
    text-decoration: underline;
    color: white;
}
.links_{
    text-decoration: none;
    color: white;
    margin-block: 12px;
    font-size: 18px;
}
.contacto{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    margin-top: 18px;
}
.redes{
    grid-area: social;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.iconos{
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-block: 3px;
}
/* Footer */

/* Destacados */

.destacados{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-around;
    gap: 15%;
}
.tarj{
    background-color: rgb(150, 150, 150);
    padding: 15px;
    margin-left: 55px;
    width: 1500px;
    padding-bottom: 10px;

}
.tarj h2{
    font-size: 40px;
    font-weight: bold;
}
.tarj h2 ,
.tarj2 h2{
    text-align: center;
    padding-bottom: 5px;
}
.tarj2{
    background-color: rgb(150, 150, 150);
    padding: 15px;
    margin-right: 55px;
    width: 1500px;
    height: 650px;
}
.tarj2 span img{
    margin-block: 20px;
}
.tarj2 h2{
    font-size: 40px;
    font-weight:bold;
}
.añ_cart{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr,1fr;
    grid-template-areas: 
    "raqueta carrito"
    "precio carrito";
    justify-content: end;
    margin-right: 0px;
    
}
.añ_cart h6{
    grid-area: raqueta;
    align-self: flex-start;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 500;
}
.añ_cart p{
    grid-area: precio;
    font-weight: 300;
    font-size: larger;
}
.boton{
    grid-area: carrito;
    width: 240px;
    height: 90px;
}
/* Destacados */

/*  */
.sombra{
    box-shadow: 5px 5px 15px rgb(145, 145, 145);
}
/*  */
/* Filtros */

.filtros{
    margin-top: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

/* Tarjeta */
.tarjeta{
    background-color: rgb(180, 180, 180);
    width: 350px;
    padding: 10px;
    box-shadow: 5px 5px 7px grey;
}
.boton2{
    width: 100%;
    height: 45px;
}
.añ_cart2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.añ_cart2 h6{
    font-size: 20px;
    font-weight: 600;
}
.prec{
    grid-area: precio2;
    font-size: 15.5px;
    margin-right: 10px;
}
.prec2{
    font-size: 15.5px;
}
.ventas{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

/* Carrito */
.articles{
    width: 70%;
    background-color: beige;
    height: 600px;
}
.articles h1{
    background-color: #aaaaaa;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}
.cart{
    display: flex;
    flex-direction: row;
}
.cart2{
    width: 30%;
    background-color: aliceblue;
    height: 600px;
}
.subtot{
    display: flex;
    justify-content: start;
    align-items: flex-end;
    margin-left: 30px;
}
.caract_cart{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
}
.caract_cart h3{
    font-size: 20px;
}
.product_names{
    height: 400px;
}
/* Modal */
.cart_container{
    color: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 70%;
    background-color: beige;
    align-items: center;
    overflow: auto;
    z-index: 9;
    max-height: 88vh;
    top: 12vh;
    scrollbar-color: none;
    margin: 0 15%;
    animation-name: carrito;
    animation-duration: 2s;
}
@keyframes carrito{
    0% {max-height: 0vh;}
    100%{max-height: 88vh;}
}
.cart_container::-webkit-scrollbar{
    display: none;
}
.modal_empty{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: beige;
    color: black;
}
.modal_header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 192, 192);
    align-items: center;
    width: 100%;
    padding-top: 7px;
    align-items: center;

}
.header_title{
margin-left: 80px;
font-size: 25px;
margin-block: auto;

}
.modal_close{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: red;
    font-size: 18px;
    margin-bottom: 3px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.modal_close:hover{
    background-color: red;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal_content{
    background-color: #b4b4b4;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    height: 35px;
}
.total_content{

    padding-top: 5px;
    background-color: #e6e6e6;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5px;
}
.total_content p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: auto;
}
.cerrar{
    display: none;
}
.delete_product{
    cursor:pointer;
    font-size: 17px;
    margin-bottom: 13px;
}
.sumar{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 122, 0);
    padding-inline: 4px;
    border-radius: 20%;
    margin-bottom: 12px;
}
.restar{
    cursor: pointer;
    color: white;
    background-color: red;
    padding-inline: 4px;
    border-radius: 20%;
    margin-bottom: 12px;
}
.rankings{
    width: 100%;
    margin-top: 30px;
    background-color: rgb(189, 74, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.rank_player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/fondos/roland-garros-2015-final-stadium.jpg);
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 5px 10px black;
    margin-block: 15px;
}
.rank_player div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(0.8px);
    width: 100%;
    border-radius: 30px;
}
.jugadores{
    width: 280px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px black;
    transition: all 1s linear;
}
.jugadores:hover{
    transform: scale(1.08);
}
.rank_nombre{
    background-color: #aaaaaa;
    padding: 7px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0px 3px 5px black;
    backdrop-filter: blur(2px);
}
.rank_raquet{
    background-color: #aaaaaa;
    padding: 9px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 3px 5px black;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-weight: 600;
}
.rank_raquet:hover{
    color: black;
}
.foto{
    transition: all 1s linear;
}
.foto:hover{
    transform: scale(1.02,1.02);
    border-radius: 10px;
}
.contact_back{
    background-image: url("https://resizer.glanacion.com/resizer/1jei3sCZDpzH9Hqaya0iBKDICIY=/1200x800/smart/filters:format(webp):quality(80)/cloudfront-us-east-1.images.arcpublishing.com/lanacionar/3O43EDA5LBHUBMDVGV7LDJBONQ.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 15px black;
}
.contact_back div{
    background-color: rgba(128, 128, 128, 0.795);
    height: 470px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter:blur(2px);
    gap: 10px;
}
.contact_back div label{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}
.contact_back div input,
.contact_back div textarea{
    padding: 5px;
    width: 80%;
}
.contact_back div textarea{
    height: 100px;
}
.contact_back div button{
    width: 50%;
    padding: 5px;
    border-radius: 12px;
    color: white;
    background-color: #1616c9;
    border: 1px solid white;
    transition: all 0.6s ease-in;
    margin-bottom: 10px;
}
.contact_back div button:hover{
    background-color: white;
    color: #1616c9;
}
.alerta_form{
    text-align: center;
}
.link_form{
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.link_form:hover{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    color: black;
}